<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Landing Page</title>

    <link rel="stylesheet" href="style.css">
    <link href="../../../css/editor.css" rel="stylesheet">
</head>

<body>
    <div id="wrap">
        <br><br>
        <div class="container">
            <div id="box">
                <div class="text-center">
                    <h1>Awesome Title</h1>
                    <div class="col-md-12 text-center pull-middle">
                        <form role="form" method="get" action="">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                        E-Mail</span>
                                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                        placeholder="Enter your E-Mail to get exclusive access!">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div id="footer text-center">
        <div class="container text-muted">
            What is this all <a data-toggle="modal" data-target="#about" href="#about">about</a>? - <a
                href="https://clemensotto.com/contact" target="_blank">Contact</a>

            <a class="btn btn-md btn-default pull-right">
                <span class="glyphicon glyphicon-lock"></span> Login
            </a>
        </div>
    </div>




    <!-- MODAL -->


    <!-- Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">That is what it's all about!</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="one">
                        <h1> Awesome Title </h1>
                        <h3>It's awesome, really!</h3>
                        <div class="panel-body">
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
                                placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum
                                erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit
                                eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                                Donec non enim in turpis pulvinar facilisis. Ut felis.
                            </p>
                            <br>
                            <a href="" class="btn btn-lg btn-primary">
                                Subscribe Now
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>

</html>