<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Landing-page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="page-home">
        <div class="header">
            <h1>A cool and catchy intro to make visitors click the button below</h1>
        </div>
    </div>
    <div class="btn"><button>Learn More</button></div>
    <div class="book-img"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/book-cover.jpg"></div>
    <hr>
    <div class="header-second">
        <h2>Title for other people saying great things about the book</h2>
    </div>
    <div id="testamonials">
        <div class="content-one">
            <div id="image-one"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/1.svg"></div>
            <div id="info-one">
                <p>The author, most recently, of “You Will Know Me” keeps a copy of “How to Protect Yourself Against Psychic Attack” on her shelves. “Those who know me well probably wouldn’t be surprised.”</p><br><br>
                <p><strong>Lorenzo Gard</strong></p><br>
                <p><strong>Designer, Coca-Cola</strong></p>
            </div>
        </div>
        <div class="content-two">
            <div id="image-two"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/2.svg"></div>
            <div id="info-two">
                <p>The author, most recently, of “You Will Know Me” keeps a copy of “How to Protect Yourself Against Psychic Attack” on her shelves. “Those who know me well probably wouldn’t be surprised.”</p><br><br>
                <p><strong>Akiko Miyamoto</strong></p><br>
                <p><strong>CEO, Sony Computer</strong></p>
            </div>
        </div>
    </div>
    <hr>
    <div id="foreword">
        <h2>Foreword by Someone Important</h2><br>
        <p>Fusce sit amet vehicula sem. Donec id ante dui. Ut velit sem, cursus ac blandit sit amet, fringilla vitae risus. Aliquam malesuada congue risus at vulputate. Nulla mollis commodo suscipit. Mauris viverra, augue nec porttitor lacinia, sem augue
            placerat eros, vel ornare lectus arcu nec lorem.</p>
    </div>
    <hr>
    <div id="author-bio">
        <div class="place-left">
            <div class="author-pic"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/3.svg"></div>
            <div class="author-media"><a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/facebook.svg"></a><a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/youtube.svg"></a><a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/instagram.svg"></a></div>
        </div>
        <div class="author-text">
            <h3>Author Bio</h3>
            <p>Nullam volutpat quam a auctor dictum. Aliquam tempor gravida interdum. Duis quis urna velit. Mauris fermentum tincidunt tellus ac sagittis. Nam semper viverra purus non fermentum. Sed eu ipsum sit amet lorem sagittis consectetur. Curabitur
                facilisis ut sapien sed pretium. Vivamus vel mi at odio tempus porttitor non porttitor ipsum. Suspendisse erat quam, varius sit amet erat et, scelerisque blandit eros. Suspendisse est mauris, tempor sed felis sit amet, vestibulum consectetur
                purus.</p>
        </div>
    </div>
    <hr>
    <h2>Choose your format</h2>
    <div id="container-format">
        <div class="column-one">
            <h4>Paperback</h4><a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/placeholder.svg"></a></div>
        <div class="column-one">
            <h4>eBook</h4><a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/placeholder.svg"></a></div>
        <div class="column-one">
            <h4>Audiobook</h4><a href="#"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/511975/placeholder.svg"></a></div>
    </div>
    <footer>
        <h5>Copyright &copy; 2016 Lars Jönsson aka <a href="devpaps.github.io">Devpaps</a></h5>
    </footer>
</body>

</html>