// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #1b8bf9;

$link-color: 					#1b8bf9;

$link-focus-color: 				#1b8bf9;

