body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  
  .footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
  }
  
  @media screen and (min-width: 768px) {
      .jumbotron {
      border-bottom: 0;
    }
  }
  
  